/* Bilibili */

:root.dark,
.dark,
[data-theme='dark'] {
  --color-text-primary: #ffffff !important;
  --color-text-secondary: #eeeeee !important;
  --color-text-tertiary: #999999 !important;
  --color-background-primary: #222222 !important;
  --color-background-secondary: #333333 !important;
  --color-background-tertiary: #1a1a1a !important;
  --color-surface: #333333e6 !important;
  --color-surface-elevated: #3c3c3cf2 !important;
  --color-border: #444444 !important;
  --color-border-secondary: #44444480 !important;
  --color-primary: #fb7299 !important;
  --color-primary-hover: #ff85a7 !important;
  --color-accent: #fb7299 !important;
  --color-accent-hover: #ff85a7 !important;
  --color-success: #34c759 !important;
  --color-warning: #f1930f !important;
  --color-danger: #ff3b30 !important;
  --color-error: #cb2431 !important;
  --shadow-sm: 0 1px 2px #00000066, 0 1px 3px #00000033;
  --shadow-md: 0 4px 12px #00000080, 0 2px 4px #0000004d;
  --shadow-lg: 0 12px 24px #00000099, 0 8px 16px #00000066;
  --shadow-xl: 0 20px 48px #000000b3, 0 10px 20px #00000080;
}

:root,
.light,
[data-theme='light'] {
  --color-text-primary: #18191c !important;
  --color-text-secondary: #61666d !important;
  --color-text-tertiary: #9499a0 !important;
  --color-background-primary: #ffffff !important;
  --color-background-secondary: #f6f7f8 !important;
  --color-background-tertiary: #f1f2f3 !important;
  --color-surface: #ffffffe6 !important;
  --color-surface-elevated: #ffffff !important;
  --color-border: #e3e5e7 !important;
  --color-border-secondary: #e3e5e780 !important;
  --color-primary: #fb7299 !important;
  --color-primary-hover: #c45674 !important;
  --color-accent: #fb7299 !important;
  --color-accent-hover: #c45674 !important;
  --color-success: #34c759 !important;
  --color-warning: #f1930f !important;
  --color-danger: #ff3b30 !important;
  --color-error: #cb2431 !important;
  --shadow-sm: 0 1px 2px #0000000d, 0 1px 2px #0000000a;
  --shadow-md: 0 4px 12px #00000014, 0 2px 4px #0000000d;
  --shadow-lg: 0 8px 24px #0000001a, 0 4px 8px #00000014;
  --shadow-xl: 0 12px 32px #00000026, 0 8px 16px #0000001a;
}
