/* 默认 */

.dark, [data-theme="dark"] {
   --color-text-primary: #f5f5f7 !important;
  --color-text-secondary: #a1a1a6 !important;
  --color-text-tertiary: #86868b !important;
  --color-background-primary: #000000 !important;
  --color-background-secondary: #1c1c1e !important;
  --color-background-tertiary: #2c2c2e !important;
  --color-surface: #1c1c1ecc !important;
  --color-surface-elevated: #2c2c2ef2 !important;
  --color-border: #ffffff1a !important;
  --color-border-secondary: #ffffff0d !important;
  --color-primary: #6366f1 !important;
  --color-primary-hover: #818cf8 !important;
  --color-accent: #0a84ff !important;
  --color-accent-hover: #409cff !important;
  --color-success: #34c759 !important;
  --color-warning: #f1930f !important;
  --color-danger: #ff3b30 !important;
  --color-error: #cb2431 !important;
  --shadow-sm: 0 1px 3px #0000000a, 0 1px 2px #0000000f;
  --shadow-md: 0 4px 6px #0000000d, 0 2px 4px #0000000f;
  --shadow-lg: 0 10px 15px #00000014, 0 4px 6px #0000000d;
  --shadow-xl: 0 20px 25px #0000001a, 0 10px 10px #0000000a;
}

.light, [data-theme="light"] {
  --color-text-primary: #1d1d1f !important;
  --color-text-secondary: #6e6e73 !important;
  --color-text-tertiary: #86868b !important;
  --color-background-primary: #ffffff !important;
  --color-background-secondary: #f5f5f7 !important;
  --color-background-tertiary: #fbfbfd !important;
  --color-surface: #ffffffcc !important;
  --color-surface-elevated: #fffffff2 !important;
  --color-border: #0000001a !important;
  --color-border-secondary: #0000000d !important;
  --color-primary: #6366f1 !important;
  --color-primary-hover: #4f46e5 !important;
  --color-accent: #007aff !important;
  --color-accent-hover: #3b82f6 !important;
  --color-success: #34c759 !important;
  --color-warning: #f1930f !important;
  --color-danger: #ff3b30 !important;
  --color-error: #cb2431 !important;
  --shadow-sm: 0 1px 3px #0000000a, 0 1px 2px #0000000f;
  --shadow-md: 0 4px 6px #0000000d, 0 2px 4px #0000000f;
  --shadow-lg: 0 10px 15px #00000014, 0 4px 6px #0000000d;
  --shadow-xl: 0 20px 25px #0000001a, 0 10px 10px #0000000a;
}
