/* 极夜紫 */

.dark, [data-theme="dark"] {
  --color-text-primary: #e9e5f3 !important;
  --color-text-secondary: #b9adc7 !important;
  --color-text-tertiary: #d2a8ff !important;
  --color-background-primary: #120d1a !important;
  --color-background-secondary: #1a1523 !important;
  --color-background-tertiary: #251f30 !important;
  --color-surface: rgb(26 21 35 / 90%) !important;
  --color-surface-elevated: rgb(37 31 48 / 95%) !important;
  --color-border: #3d344d !important;
  --color-border-secondary: rgb(61 52 77 / 50%) !important;
  --color-primary: linear-gradient(135deg, #9d50bb, #eb39a9, #ff9a8b) !important;
  --color-primary-hover: linear-gradient(135deg, #b16cd1, #ef5ebc, #ffb3a7) !important;
  --color-accent: #d2a8ff !important;
  --color-accent-hover: #b084f5 !important;
  --color-success: #67e4ac !important;
  --color-warning: #ffb37e !important;
  --color-danger: #ff8b94 !important;
  --color-error: #cb2431 !important;
  --shadow-sm: 0 2px 4px #05030899;
  --shadow-md: 0 6px 16px #050308cc, 0 2px 6px #00000080;
  --shadow-lg: 0 16px 32px #050308e6, 0 8px 16px #050308b3;
  --shadow-xl: 0 24px 56px #050308f2, 0 12px 28px #000000cc;
}

.light, [data-theme="light"] {
  --color-text-primary: #2d263d !important;
  --color-text-secondary: #60527a !important;
  --color-text-tertiary: #8e44ad !important;
  --color-background-primary: #ffffff !important;
  --color-background-secondary: #f8f5ff !important;
  --color-background-tertiary: #f0eaff !important;
  --color-surface: rgb(255 255 255 / 90%) !important;
  --color-surface-elevated: rgb(248 245 255 / 100%) !important;
  --color-border: #e2daeb !important;
  --color-border-secondary: rgb(226 218 235 / 50%) !important;
  --color-primary: linear-gradient(90deg, #8e44ad, #d83a9d, #ff7e79) !important;
  --color-primary-hover: linear-gradient(90deg, #732d91, #c22e8a, #f06a65) !important;
  --color-accent: #8e44ad !important;
  --color-accent-hover: #b084f5 !important;
  --color-success: #27ae60 !important;
  --color-warning: #e67e22 !important;
  --color-danger: #e74c3c !important;
  --color-error: #cb2431 !important;
  --shadow-sm: 0 1px 3px #2d263d14, 0 1px 2px #2d263d0d;
  --shadow-md: 0 4px 12px #2d263d1f, 0 2px 6px #2d263d14;
  --shadow-lg: 0 12px 30px #2d263d26, 0 8px 16px #2d263d1a;
  --shadow-xl: 0 20px 50px #2d263d33, 0 10px 25px #2d263d1f;
}
